<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="customer_customer_authenticated">
        <observer name="dp_customer_login_check_active"
                  instance="Doublep\CustomerExtent\Observer\CustomerLogin" />
    </event>
</config>
